@import './variables';
*{
  box-sizing: border-box;
}
html{
  font-size: 13px;
}
body{
  background: #F1F1F1;
  margin: 0;
}
a{
  color: #222;
}
.w-100{
  width: 100%;
}
.h-100{
  height: 100%;
}

.d-flex{
  display: flex;
}
.flex-1{
  flex: 1;
}
.flex-grow-1{
  flex-grow: 1;
}
.flex-wrap{
  flex-wrap: wrap;
}



.btn{
  border: none;
  border-radius: 0.1538rem;
  font-size: map-get($font-size, 'sm') * $base-font-size;
  padding: 0.2rem 0.6rem;
}

.sprite{
  background: url(../images/index.png) no-repeat 0 0;
  background-size: 28.8462rem;
  display: inline-block;
  &.sprite-news{
    width: 3.4615rem;
    height: 3.0769rem;
    background-position: 63.546% 15.517%;
  }
  &.sprite-arrow{
    width: 1.4615rem;
    height: 1.4615rem;
    background-position: 38.577% 52.076%;
  }
}
//tab 的样式
.nav {
  display: flex;
  .nav-item{
    border-bottom: 3px transparent solid;
    padding-bottom: 0.3rem;
    &.active{
      color: map-get( $colors, "primary");
      border-bottom: 3px map-get( $colors, "primary") solid;
    }
  }
  &.nav-inverse{
    .nav-item{
            border-bottom: 3px solid transparent;
            color:map-get($colors, "white");
            &.active{
                color: map-get( $colors, "white");
                border-bottom: 3px solid map-get($colors, "white");
            }
        }
  }
}
