@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1621333102305') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-card-hero:before {
  content: "\e61f";
}

.icon-Menu:before {
  content: "\e69e";
}

